.Rproj.user
.Rhistory
.RData
.Ruserdata
/data/16S_processing/assembled
/data/16S_processing/classified
/data/16S_processing/clustered
/data/16S_processing/error_files
/data/16S_processing/databases/SILVA*
/data/16S_processing/*
/data/raw_reads
/paper
/scripts
